/* ---------------------------------------------------------
TABLE OF CONTENTS

    1. Imports
    2. General Styles
        2.1. General
            • General Styles
            • Variable Colours
            • Button Styles
            • Section Headings
            • Scroll Bars
        2.2. Navigation
        2.3. Footer
    3. Home Page
    4. About Page
    5. Support Page
    6. Client Page
    7. Thank You Mail Page

---------------------------------------- */

/* ---------------------------------------------
    1. IMPORTS */

@import "./fonts.css";


/* ---------------------------------------------------------
    2. GENERAL STYLES */

/* 2.1. General */

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Nunito;
    font-size: 16px;
    overflow-x: hidden;
    transition-timing-function: ease-out;
    background-color: white;
    scroll-behavior: smooth;
}


/* • Variable Colours */
:root {
    --light-blue: rgba(73, 143, 205, 1);
    --dark-grey: rgba(85, 90, 100, 1);
    --light-grey: rgba(153, 153, 153, 0.1);
    --dark-blue: rgba(25, 35, 54, 1);
}

/* • Section Headings */

.section-heading {
    padding: 30px 10%;
    text-align: center;
}

.section-heading h1 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2.2rem
}

.section-heading h4 {
    color: var(--dark-grey);
    font-size: 1.2rem;
    padding: 1% 0;
}


/* Button Styles */

.more-blue-button {
    text-align: center;
    margin-top: 20px;
}

.more-blue-button a {
    background-color: var(--light-blue);
    padding: 6px 5%;
    color: white !important;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer !important;
    font-size: 1em;
}

.more-blue-button a:hover {
    background-color: var(--dark-blue);
    transition: 0.5s;
}

.blue-outline-button {
    text-align: center;
    padding-top: 20px;
}

.blue-outline-button a {
    background-color: transparent;
    padding: 4px 5%;
    color: var(--light-blue) !important;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer !important;
    border: 2px solid var(--light-blue);
    font-size: 1em;
}

.blue-outline-button a:hover {
    background-color: var(--light-blue);
    transition: 0.5s;
    color: white !important;
}

/* Current Page */

.active-page {
    color: var(--dark-blue) !important;
}

/* Custom Scrollbars */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}


/* 2.2. Navigation */

nav {
    background-color: white;
    box-shadow: 0px 4px 5px rgba(25, 35, 54, 0.2);
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.navbar-logo {
    width: 200px;
    padding-left: 2%;
}

.navbar-item {
    padding: 0 15px;
}

.navbar-item a {
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.9;
}

.navbar-item a:hover {
    text-decoration: none;
    color: var(--dark-blue);
    transition: 0.5s;
    opacity: 1;
}

.navbar-line {
    height: 100%;
    background-color: var(--dark-grey);
    width: 2px;
    padding: 0;
    margin: 0 30px 0 10px;
    display: block;
}

.login-link {
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 3px 0;
}

.login-link a {
    color: white !important;
    font-weight: 600;
    opacity: 1;
    padding: 3px 15px;
}

.login-link:hover {
    background-color: var(--dark-blue);
    transition: 0.5s;
}

.navbar-nav {
    display: flex;
    align-items: center;
}


/* Mobile Navigation */

.mobile-nav-icon {
    display: flex;
    align-items: center;
    padding-right: 15px;
    display: none;
}

.mobile-nav-icon i {
    transition: 0.5s;
    color: var(--light-blue);
    font-size: 1.4em;
    padding: 5px 7px;
    border-radius: 5px;
}

.mobile-nav-icon:hover i {
    color: white;
    background-color: var(--light-blue);
}

.mobile-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed !important;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 20;
    width: 0;
    transition: 0.8s;
    overflow-x: hidden;
}

.mobile-nav-content a {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 1.5em;
    display: block;
    margin: 5px 0;
    text-decoration: none;
    transition: 0.5s;
}

.mobile-nav-content a:hover {
    color: var(--light-blue);
    transform: scale(1.1);
}

.mobile-nav>div:nth-child(1) {
    position: relative;
    padding: 15px;
    text-align: right;
}

.mobile-nav i {
    /* float: right; */
    font-size: 1.5em;
    padding: 5px;
    transition: 0.5s;
}

.mobile-nav-content {
    position: absolute;
    /* text-align: center; */
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav i:hover {
    color: var(--light-blue);
    transform: rotate(180deg);
}

.mobile-nav-logo {
    width: 70%;
    padding-top: 40px;
    display: block;
    margin: auto;
}

.mobile-nav-image {
    width: 30%;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.mobile-nav-login {
    background-color: var(--light-blue);
    color: white !important;
    width: 50%;
    margin-left: 50%;
    text-align: center;
    font-weight: 400 !important;
    border-radius: 5px;
    padding: 2px 0 2px 0;
    font-size: 1.25em !important;
    margin-top: 30px !important;
}


/* 2.3. Footer */

footer {
    width: 100%;
    background-color: var(--light-grey);
    padding-bottom: 5px;
}

.footer-logo {
    margin: auto;
    display: block;
    width: 15vw;
}

.footer-nav {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    margin: 0 2%;
    padding: 1%;
    text-decoration: none;
    font-weight: 600;
    color: var(--dark-grey);
    font-size: 15px;
    letter-spacing: 1px;
}

.footer-nav a:hover {
    color: var(--dark-blue);
    transition: 0.5s;
}

.footer-line {
    width: 75%;
    margin: 10px auto;
    height: 0.5px;
    background-color: var(--dark-grey);
    opacity: 0.5;
}

.footer-copy {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding: 0 10%;
    letter-spacing: 0.5px;
    margin: 0;
}

.footer-copy a {
    color: var(--dark-grey);
    text-decoration: none;
}

.footer-copy a:hover {
    color: var(--light-blue);
}




/* --------------------------------------------------------- 

3. HOME PAGE   

------------------------------------------------- */


/* Home Landing Section */

.home-landing-section {
    /* height: 80vh; */
    padding: 7.5% 5% 2.5% 5%;
    position: relative;
}

.home-landing-image {
    width: 85%;
    padding-left: 5%;
}

.home-landing-section h1 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2.1rem;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.home-landing-video-link {
    float: right;
    margin-right: 10%;
}

.home-landing-video-link a {
    padding: 6px 15px;
}

.home-landing-video-link a i {
    margin-left: 5px;
    font-size: 0.9em;
}

.home-landing-contact form {
    width: 90%;
    border: 3px solid transparent;
}

/* Home About Section */

.home-about-section {
    padding: 50px 10%;
    padding-bottom: 5%;
}

.home-about-text {
    color: var(--dark-grey);
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 2.5%;
    padding: 0 10% 2.5% 10%;
    margin: 0;
}

.home-about-video {
    width: 60%;
    padding: 10px 0 30px 0;
    margin: auto;
}





/* Home CLients Section */

.home-clients-section {
    padding: 50px 10%;
    background-color: var(--light-grey);
}

.home-clients-section .section-heading {
    padding-top: 0;
}

.home-carousel {
    padding: 20px 0;
    transition-timing-function: ease-in-out;
}

.owl-carousel .owl-item img {
    display: block;
    margin: auto;
    /* width: 75%; */
}

.carousel-image {
    width: 80%;
}

/* Home Contact Section */

.home-contact-section {
    padding: 50px 10%;
}

.home-contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-contact-grid>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-contact-grid img {

    width: 50%;
    transition: 0.5s;
}

.home-contact-grid img:hover {
    transform: scale(1.05);
}

.home-contact-grid-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
}

.home-contact-grid-text h4 {
    font-size: 1.5em;
}

.home-contact-grid-text .blue-outline-button {
    text-align: left;
}

.home-contact-grid-text .blue-outline-button a {
    padding: 4px 10%;
}

.home-contact-section .row>div {
    padding: 0;
}

.home-contact-section .row>div:nth-child(1) .home-contact-grid {
    border-right: 2px solid var(--light-grey);
}

/* Sign Up Animation */

.home-landing-contact-form-animation {
    animation-name: contact-form-animation ;
    animation-duration: 1.5fs;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

@keyframes contact-form-animation {
    0% {
        border: 3px solid transparent;
    }

    50% {
        border: 3px solid var(--light-blue);
    }

    100% {
        border: 3px solid transparent;
    }
}

@-webkit-keyframes contact-form-animation {
    0% {
        border: 3px solid transparent;
    }

    50% {
        border: 3px solid var(--light-blue);
    }

    100% {
        border: 3px solid transparent;
    }
}

/* --------------------------------------------------------- 

4. ABOUT PAGE   

------------------------------------------------- */


/* Story Section */

.about-story-grid {
    padding: 2% 10%;
}

.about-story-grid .row {
    padding-bottom: 5%;
}

.about-story-image-container img,
.careers-image-container img {
    width: 60%;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.about-story-image-container img:hover,
.careers-image-container img:hover {
    transform: scale(1.05);
}

.about-story-text-container,
.careers-text-container {
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
}

/* Service Section */

.about-services-section {
    background-color: var(--light-grey);
    padding-bottom: 1%;
}

.service-grid {
    padding: 0 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.service-block {
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);
    width: 27%;
    text-align: center;
    margin: 0 2.5% 5% 2.5%;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
    padding-top: 10px;
}

.service-block:hover {
    transform: scale(1.05);
}

.service-name {
    font-weight: 600;
    color: var(--dark-blue);
    font-size: 1.1em;
    padding: 5% 10%;
    line-height: 1.25;
}

.service-image {
    width: 60%;
    margin: auto;
    display: block;
    padding-top: 10px;
}

/* Careers Section */

.about-careers-section {
    padding: 30px 0;
}

.careers-grid {
    padding: 0 10% 3% 10%;
}

.careers-grid .blue-outline-button {
    text-align: left;
}

.about-careers-section .section-heading {
    padding-bottom: 0;
}


/* --------------------------------------------------------- 

5. Support PAGE   

------------------------------------------------- */

/* Landing Section */

.support-landing-section {
    padding: 0 10% 1% 10%;
    background-color: rgba(153, 153, 153, 0.1);
    ;
}


.support-landing-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-landing-text-container h1 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2.2rem;
}


.support-landing-image-container img {
    width: 90%;
    display: block;
    margin: auto;
}


/* FAQ Section */

.support-faq-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.faq-grid {
    padding: 2% 10%;
}

.faq-button-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    align-items: center;
}

.faq-tab {
    border-radius: 5px;
    border: none !important;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(153, 153, 153, 0.4);
    color: var(--dark-blue);
    transition: 0.5s;
    outline: none !important;
}

.active-faq-tab {
    background-color: var(--light-blue);
    color: white;
}

.faq-tab:hover {
    color: white;
    background-color: var(--dark-blue);
}

.faq-container {
    padding: 2% 1%;
}

.faq-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-grid-questions {
    border-left: 1px solid rgba(153, 153, 153, 0.4);
}

.faq-grid-categories li {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 20px 0;
    cursor: pointer;
    color: var(--dark-grey);
    transition: 0.5s ease;
    font-size: 1.1em;

}

.faq-active-category {
    font-size: 1.3em !important;
    margin: 25px 0 !important;
    color: var(--dark-blue) !important;
}

.faq-grid-categories li:hover {
    color: var(--dark-blue) !important;
}

.faq-grid-categories li:hover img {
    transform: rotate(180deg);
}

.faq-grid-categories li img {
    width: 20px;
    margin-right: 15px;
    transition: 0.5s;
}

.faq-grid-questions {
    padding-left: 5%;
}

.accordion {
    background-color: white;
    color: var(--dark-blue) !important;
    cursor: pointer;
    padding: 18px;
    padding-right: 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none !important;
    transition: 0.4s;
    font-weight: 600;
    font-size: 1.1em;
}


.active,
.accordion:hover {
    color: var(--light-blue) !important;
    font-size: 1.15em;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-bottom: 1px solid rgba(153, 153, 153, 0.4);
    color: var(--dark-grey);
    font-weight: 300;
    font-size: 1em;
}

.panel p {
    padding-left: 5%;
}

.faq-employers {
    display: none;
}

.faq-questions-list {
    display: none;
    transition: 0.5s;
}

.faq-active-questions {
    display: block;
    transition: 0.5s;
}

.faq-panel-image {
    display: block;
    margin:0 auto;
}

#faq-image-1 {
    width: 50%;
}

#faq-image-2 {
    width: 90%;
}

#faq-image-3 {
    width: 90%;
}


/* Contact Section */
.support-contact-section {
    padding: 30px 5%;
    background-color: var(--light-grey);
    position: relative;
}

.contact-form {
    padding: 5%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(25, 35, 54, 0.15);
    width: 70%;
    display: block;
    margin: auto;
}

.contact-form label:nth-child(1) {
    font-weight: 600;
    font-size: 1.5em;
}

.contact-form-radio-group {
    display: flex;
    justify-content: space-around;
    padding: 10px 5%;
    align-items: center;
    letter-spacing: 0.5px;
}

.contact-form-radio-group {
    font-weight: 600;
    color: var(--dark-grey);
    font-size: 1.1em;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--light-grey);
    padding: 8px 15px;
    letter-spacing: 1px;
    margin: 5px 0;
    resize: none;
    font-size: 0.9em;
    outline: none;
    border: 2px solid white;
    font-weight: 600;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    background-color: white;
}

.submit-button {
    background-color: var(--light-blue) !important;
    color: white !important;
    transition: 0.5s;
    width: 70% !important;
    margin: 0 !important;
    transition: 0.5s;
}

.submit-button:hover {
    background-color: var(--dark-blue) !important;
    transform: scale(1.05);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-size: 0.9em;
    font-weight: 400;
}

.employee-form {
    display: none;
}


/* Contact Detals */

.support-contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.support-contact-details h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--dark-blue);
}

.support-contact-details p {
    color: var(--dark-grey);
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.support-contact-details p:nth-child(2) {
    padding: 5% 0;
    padding-right: 30%;

}

.support-contact-details a {
    font-weight: 600;
    color: var(--dark-blue);
    text-decoration: none;
    transition: 0.5s ease;
    font-size: 1.1em;
    margin: 5px 0;
    margin-bottom: 20px;
}

.support-contact-details a:hover {
    padding-left: 5px;
    color: var(--light-blue);
}

.support-contact-details a i {
    background-color: white;
    padding: 5px;
    color: var(--light-blue);
    border-radius: 5px;
    transition: 0.5s;
}

.support-contact-details a i:hover {
    color: var(--dark-blue);
    transform: scale(1.1);
}

.support-contact-image {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 50px;
    width: 15vw
}

.footer-seperation-line {
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: var(--light-blue);
    position: absolute;
    bottom: 0;
}




/* --------------------------------------------------------- 

6. CLIENT PAGE   

------------------------------------------------- */

/* Landing Section */

.client-landing-section img {
    width: 75%;
    display: block;
    margin: auto;
}

.client-landing-section {
    position: relative;
}

/* Client Grid Section */
.client-grid-section {
    padding: 2% 0 7.5% 0;
}

.client-grid {
    padding: 0 15%;
}

.client-grid .row>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.client-grid img {
    width: 100%;
    padding: 20px 0;
    vertical-align: middle;
    transition: 0.5s;
}

.client-grid img:hover {
    transform: scale(1.1);
}

.extra-client-grid {
    display: none;
}


/* --------------------------------------------------------- 

7. THANK YOU MAIL PAGE  

------------------------------------------------- */

.thank-you-section {
    background-color: white;
    height: 80vh;
    padding-top: 100px;
}

.thank-you-section>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 10%;
    text-align: center;
}


.thank-you-section h1 {
    font-weight: 600;
    font-size: 3em;
    padding-bottom: 30px;
}

.thank-you-section h2 {
    font-weight: 400;
    font-size: 2em;
    padding-bottom: 15px;
}

.thank-you-section p {
    font-size: 1.2em;
    color: var(--light-blue);
}