/* ---------------------------------------------------------
TABLE OF CONTENTS

    1. Imports
    2. General Styles
        2.1. General
        2.2. Navigation
        2.3. Footer
    3. Home Page
    4. About Page
    5. Support Page
    6. Client Page
    7. Terms + Privacy Pages

---------------------------------------- */


/* ---------------------------------------------------------
    2. General Styles */


@media screen and (min-width:1500px) {

    html,
    body {
        font-size: 18px;
    }

}

@media screen and (max-width:768px) {

    .navbar {
        justify-content: unset;
        padding-left: 0;
    }

    .navbar-nav {
        display: none !important;
    }

    .mobile-nav-icon {
        position: absolute;
        right: 0;
        display: flex;
    }

    .navbar-logo {
        padding: 0;
    }

    .footer-logo {
        width: 25vw;
    }

}

@media screen and (max-width:576px) {
    .footer-nav {
        flex-wrap: wrap;
    }

    .footer-nav a {
        width: 45%;
    }

    .section-heading h4 {
        font-size: 1.1em;
    }

    .section-heading {
        padding: 30px 5%;
    }
}




/* ---------------------------------------------------------
    3. HOME PAGE STYLES*/

@media screen and (min-width:1500px) {

    .home-landing-contact form {
        width: 70%;
    }

}

@media screen and (max-width:991px) {
    .home-contact-section {
        padding: 50px 5%;
    }

    .home-landing-contact form {
        width: 100%;
    }

    .home-landing-contact {
        padding: 0;
    }

    .home-landing-image {
        width: 50vw;
        padding-left: 0;
    }
}

@media screen and (max-width:768px) {
    .client-landing-section img {
        width: 100%;
    }

    .home-landing-video-link {
        float: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .home-landing-image {
        width: 80%;
        display: block;
        margin: auto;
    }

    .home-landing-contact form {
        width: 75%;
    }

    .home-landing-section h1 {
        text-align: center;
        font-size: 1.8em;
    }

    .home-about-section {
        padding: 50px 7.5%;
    }

    .home-about-video {
        width: 80%;
        padding: 10px 0;
    }

    .home-about-text {
        padding-left: 0;
        padding-right: 0;
    }

    .home-contact-section .row>div:nth-child(1) {
        padding-bottom: 50px;
    }

    .home-contact-section .row>div:nth-child(1) .home-contact-grid {
        border-right: 0;
    }

    .home-contact-section .row>div:nth-child(2) .home-contact-grid>div:nth-child(1) {
        grid-area: 1/2/2/3;
    }

    .home-contact-section .row>div:nth-child(2) .home-contact-grid .home-contact-grid-text {
        text-align: right;
    }

    .home-contact-section .row>div:nth-child(2) .home-contact-grid .home-contact-grid-text .blue-outline-button {
        text-align: right;
    }

    .home-contact-grid-text h4 {
        font-size: 1.2em;
    }

    .home-contact-grid-text {
        padding: 0;
    }
}

@media screen and (max-width:576px) {

    .home-about-video {
        width: 100%
    }

    .home-landing-image {
        width: 90%;
        padding: 20px 0;
    }

    .home-landing-section {
        padding-top: 120px;
    }

    .home-landing-contact form {
        width: 90%;
    }
}



/* ---------------------------------------------------------
    4. ABOUT PAGE STYLES */

@media screen and (max-width:991px) {

    .about-story-image-container img,
    .careers-image-container img {
        width: 70%;
    }

    .service-grid {
        padding: 0 10%;
    }



}

@media screen and (max-width:768px) {

    .about-story-image-container img,
    .careers-image-container img {
        width: 50%;
    }

    #first-about-image,
    .careers-image-container img {
        padding-bottom: 30px;
    }

    .service-block {
        width: 45%;
    }

    .service-grid {
        padding: 0 5%;
    }

    .careers-grid .blue-outline-button {
        text-align: center;
    }

    .about-careers-section {
        padding-bottom: 50px
    }

}

@media screen and (max-width:576px) {

    .about-story-section {
        padding-top: 100px;
    }



    .about-story-image-container img,
    .careers-image-container img {
        width: 80%;
    }

    .service-block {
        width: 80%;
        margin: 0;
        margin-bottom: 30px;
    }


}



/* ---------------------------------------------------------
    5. SUPPORT PAGE STYLES */

@media screen and (max-width:991px) {
    .contact-form {
        width: 90%;
    }
}

@media screen and (max-width:768px) {


    .support-landing-text-container {
        text-align: center;
    }

    .support-landing-text-container h1 {
        font-size: 2em;
        padding-bottom: 20px;
    }

    .faq-grid {
        padding: 2% 5%;
    }

    .faq-container {
        padding: 30px 0;
    }

    .support-contact-details {
        padding: 0 7.5%;
        padding-bottom: 30px;
    }

    .support-contact-image {
        display: none;
    }

    .contact-form {
        width: 90%;
    }

    .faq-tab {
        font-size: 1.1em;
    }

    .support-contact-details p:nth-child(2) {
        padding-right: 0;
    }

    .support-landing-image-container img {
        padding-bottom: 20px;
    }


}

@media screen and (max-width:576px) {
    .support-contact-form form {
        width: 95%;
    }

    .support-landing-section {
        padding-top: 120px;
    }

    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        font-size: 0.9em;
    }

    .contact-form label:nth-child(1) {
        font-size: 1.3em;
    }

    .custom-control-label {
        font-size: 1em;
        font-weight: 400;
    }

    .contact-form-radio-group {
        flex-direction: column;
    }

    .support-contact-section {
        padding-bottom: 50px;
    }

    .faq-grid-questions {
        border-left: 0;
    }

    .faq-grid-categories {
        border-bottom: 1.5px solid var(--dark-blue);
        padding: 0;
        margin: 0 5%;
    }
}



/* ---------------------------------------------------------
    6. CLIENT PAGE STYLES */

@media screen and (max-width:576px) {
    .client-grid {
        padding: 0 10%;
    }

    .client-grid img {
        width: 80%;
    }

    .client-landing-section {
        padding-top: 120px;
    }
}